h4 {
  text-align: center;
  color: whitesmoke;
  font-size: 25px;
  font-family: Gotham;
}

h1.paginaprincipal {
  font-family: Gotham;
  font-size: 100px;
  text-align: center;
  color: white;
}
body{
  background-image: url('../../assets/chicago.jpg') ;
  width: auto;

}

section.menu {
  text-align: center;
  justify-content: center;
  font-family: Gotham;
  margin-top: 15px;
  font-size: 25px;
  align-items: center;
  
}



hr.my007 {
  border: 0.5px solid white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
    color: white;
  float: left;
}


div.menuclima {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

a:hover{
  text-decoration: none;
  color: white;
  font-size: 40px;
}